<header class="site-header">
  <div class="wrap">
	  <!-- <h1>{{ site.title }}</h1> -->
	  <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
	  <div style="clear: both;"></div>
	  <img src="{{site.baseurl}}/assets/far.png" alt="header" class="theme-img"/>

	  <div style="clear: both;"></div>
	  <nav class="site-nav">
      <div class="trigger">
        <!-- {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}


          {% endfor %}
          -->
          <a class="page-link" href="/projects">Projects</a>
          <a class="page-link" href="/about">About</a>
      </div>
    </nav>
  </div>
</header>
