---
layout: default
---
<div class="post">

    <header class="post-header">
        <h1>
            {% if page.title %}
            {{ page.title }}
            {% else %}
            Interlude
            {% endif %}
        </h1>
        {% if page.description %}
        <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %}  {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        {% endif %}
    </header>

    <article class="post-content">
        {{ content }}
    </article>

    {% if page.ads %}

    <div class="ad">
        {% include ad.html %}
    </div>

    {% endif %}

    {% if page.comments %}
    {% include comments.html %}
    {% endif %}

</div>
