---
layout: default
---
<div class="post">

    <header class="post-header">
        <h1>
            {% if page.title %}
            {{ page.title }}
            {% else %}
            Interlude
            {% endif %}
        </h1>
        {% if page.description %}
        <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %}  {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
        {% endif %}
    </header>

    <article class="post-content">
        {{ content }}
    </article>
    <div class="ad">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- post -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-7162238231922425"
             data-ad-slot="7548223131"
             data-ad-format="auto"></ins>
        <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>

    <span class="tpb_btn" data-kingdom-id="207272" data-referrer="327441" data-scheme="dark_blue" data-language="en" data-name="Roguelikes" ></span>
    <script src="http://test.topishare.com/button/show/"></scriptasync>

    <div class="comments">
        <form action="http://pooleapp.com/stash/f5ca159d-90d6-40bd-a74a-735292a31c45/" method="post">
            <input type="hidden" name="redirect_to" value="{{page.url}}" />
            <input type="hidden" name="path" value="{{page.url}}" />
            <table>
                <tr>
                    <td>
                        <label for="name">Name</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="name" name="name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="text">Comment</label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><textarea rows="5" cols="75" id="text" name="text"></textarea></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="submit" />
                    </td>
                </tr>
            </table>
        </form>

        
        <ul class="listing comments">
            {% for comment in site.data.comments.sessions %}
            {% if comment.path == page.url %}
            <li>
                <time datetime="{{ comment.created | date_to_xmlschema }}">{{ comment.created | date_to_long_string  }}</time>
                {% if comment.url %}
                <div>
                    <a href="{{ comment.url }}" class="commenter">{{ comment.name }}</a>
                </div>
                {% else %}
                <div class="commenter">{{ comment.name }}:</div>
                {% endif %}
                <p>
                    {{ comment.text }}
                </p>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
